@import "tailwindcss";

body {
  background-color: hsl(240 10% 4%);
  background-image: 
    radial-gradient(circle at 50% 0%, hsl(262 83% 58% / 0.15) 0%, transparent 50%),
    linear-gradient(135deg, hsl(240 10% 10%) 0%, hsl(240 10% 6%) 100%);
  min-height: 100vh;
}

.text-muted-foreground {
    color: hsl(240 5% 55%);
}